<div class="project-item">
    <img class="project-thumbnail" src="{{resultThumbnail}}">
    <div class="project-info">
        <div class="user-info">
            <img class="user-avatar" src="assets/avatar.jpeg">
            <span class="project-name" title="{{projectName}}">{{projectName}}</span><br>
            <span class="owner-name">by {{ownerName}}</span><br>
        </div>
        <span class="statistics">{{numberOfGeometries}} CAD Models&nbsp;/&nbsp;{{numberOfMeshes}} Meshes&nbsp;/&nbsp;{{numberOfSimulations}} Simulations</span>
    </div>
    <hr>
    <div class="project-additional-info">
        <span class="changed" >{{resultDate}}</span>
        <div class="icons">
            <span class="fa fa-eye"></span><span>{{numberOfViews}}</span>
            <span class="fa fa-heart"></span><span>{{numberOfLikes}}</span>
            <span class="fa fa-code-fork"></span><span>{{numberOfCopies}}</span>
        </div>
    </div>
</div>